/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.4;
	color: #333;
	overflow-x: hidden;
}

/* Utility */

.container {
	max-width: 1100px;
	margin: auto;
}

.text-primary {
	color: #00adb5;
}

.bg-light {
	background: #f4f4f4;
	color: #333;
}

.bg-dark {
	background: #333;
	color: #fff;
}

/* Navbar */
#navbar {
	display: flex;
	justify-content: space-between;
	background: #222831;
	color: #fff;
	padding: 24px 64px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	border-bottom: 3px solid #00adb5;  
}

#navbar ul {
	display: flex;
	align-items: center;
	list-style: none;
}

#navbar h2 a {
	color: fff;
	text-decoration: none;
}

#navbar li a {
	text-decoration: none;
	color: #fff;
	padding: 16px;
	font-size: 21px;
	margin: 0 8px;
	border-radius: 5px;
	transition: background-color: 0.3s;
}

#navbar li a:hover {
	background-color: #00adb5;
}

/* Showcase Area*/

body, html {
    height: 100%;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/Front.bmp);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text .btn {
	font-size: 25px;
	transition: color 0.3s, background 0.3s;
}

.hero-text .btn:hover {
	background-color: #00adb5;
	color: #fff;
}

.btn {
	color: #00adb5;
	text-decoration: none;
	display: inline-block;
	padding: 8px 8px;
	border: 1px solid #00adb5;
	border-radius: 10px;
	font-weight: bold;
}

/* About Section*/
#about {
	padding: 80px;
}

#about h2 {
	text-align: center;
	font-size: 48px;
	margin-bottom: 48px;
}

#about h3 {
	font-size: 32px;
	margin-bottom: 16px;
}

#about p.lead {
	margin-bottom: 16px
}

#about .about-content {
	display: flex;
}

#about .about-text, 
#about .about-image {
	flex: 1;
}

#about .about-text {
	text-align: justify;
}

#about .about-image img {
	display: block;
	margin-left: auto;
	width: 75%;
	border-radius: 40%;
}


/* Section Testimonials */

#testimonials {
	background: url(../images/Cover.bmp) no-repeat center center/cover;
	height: 100vh;
}

.testimonials-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
	padding: 80px 0;
}

#testimonials h2 {
	text-align: center;
	font-size: 48px;
	margin-bottom: 48px;
	color: #fff;
}

#testimonials .boxes {
	display: flex;
	flex-direction: column;
}

#testimonials .box {
	background: rgbargba(238, 238, 238, 0);
	padding: 32px;
	align-items: center;
	border-radius: 15px;
}

#testimonials .box:first-child, #testimonials .box:nth-child(2) {
	margin-bottom: 48px;
}

#testimonials .box img {
	border-radius: 50%;
	margin-right: 32px;
}

#testimonials p {
	color: #fff;
}




/*  Contact Section */

#contact {
	padding: 80px 0;
}

#contact h2 {
	text-align: center;
	font-size: 48px;
	margin-bottom: 128px;
}

#contact h3 {
	text-align: center;
	font-size: 40px;
	margin-bottom: 48px 0;
	margin-top: 80px;
}

#contact .form-box {
	background: #fff;
	padding: 48px;
	box-shadow: 2px 2px 5px #d1d1d1;
	border-radius: 10px;
}

#contact .form-group {
	margin-bottom: 2rem;
}

#contact .form-group label {
	display: block;
	margin-bottom: 8px;
	width: 80%;
	margin-left: 10%;
	font-size: 10px;
}

#contact .form-group input,
#contact .form-group textarea {
	width: 80%;
	margin-left: 10%;
	font-size: 10px;
	padding: 8px;
	border: 0.5px solid #333;
	border-radius: 5px;
}

#contact .contact-btn { 
	font-family: Arial, sans-serif;
 }

 #contact .contact-btn {
 	width: 80%;
 	margin-left: 10%;
 	display: inline-block;
 	padding: 8px 48px;
 	border: none;
 	border-radius: 80px;
 	font-size: 24px;
 	background: #00adb5;
 	color: #fff;
 	margin-bottom: 16px;
 	cursor: pointer;
 	transition: background 0.3s;
 }

 #contact .contact-btn: hover {
 	background: #0378ff;
 }

#contact .form-container {
	position: relative;
}

#contact .mail-icon {
	font-size: 8px;
	background: #00adb5;
	color: #fff;
	display: inline-block;
	padding: 7px 7px;
	border-radius: 50%;
	position: absolute;
	top: -8%;
	left: 45%;
}





/* footer */
footer{
	padding: 40px;
}

footer p {
	text-align: center;
}



































































